.l-icon{ width:16px; height:16px; overflow:hidden;}
.l-icon-addGif{ background:url('icons/add.gif') no-repeat center;}
.l-icon-add{ background:url('icons/add.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-delete{ background:url('icons/delete.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-modify{ background:url('icons/modify.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-back{ background:url('icons/back.gif') no-repeat center;}
.l-icon-bluebook{ background:url('icons/bluebook.gif') no-repeat center;}
.l-icon-bookpen{ background:url('icons/bookpen.gif') no-repeat center;} 
.l-icon-coffee{ background:url('icons/coffee.gif') no-repeat center;}
.l-icon-cut{ background:url('icons/cut.gif') no-repeat center;}
.l-icon-discuss{ background:url('icons/discuss.gif') no-repeat center;} 
.l-icon-graywarn{ background:url('icons/graywarn.gif') no-repeat center;}
.l-icon-greenwarn{ background:url('icons/greenwarn.gif') no-repeat center;}
.l-icon-help{ background:url('icons/help.gif') no-repeat center;}
.l-icon-home{ background:url('icons/home.gif') no-repeat center;}
.l-icon-lock{ background:url('icons/lock.gif') no-repeat center;}
.l-icon-logout{ background:url('icons/logout.gif') no-repeat center;}
.l-icon-mailbox{ background:url('icons/mailbox.gif') no-repeat center;}
.l-icon-memeber{ background:url('icons/memeber.gif') no-repeat center;}
.l-icon-msn{ background:url('icons/msn.gif') no-repeat center;}
.l-icon-ok{ background:url('icons/ok.gif') no-repeat center;}
.l-icon-outbox{ background:url('icons/outbox.gif') no-repeat center;}
.l-icon-pager{ background:url('icons/pager.gif') no-repeat center;}
.l-icon-photograph{ background:url('icons/photograph.gif') no-repeat center;}
.l-icon-prev{ background:url('icons/prev.gif') no-repeat center;}
.l-icon-print{ background:url('icons/print.gif') no-repeat center;}
.l-icon-qq{ background:url('icons/qq.gif') no-repeat center;}
.l-icon-refresh{ background:url('icons/refresh.gif') no-repeat center;}
.l-icon-right{ background:url('icons/right.gif') no-repeat center;}
.l-icon-save-disabled{ background:url('icons/save-disabled.gif') no-repeat center;}
.l-icon-save{ background:url('icons/save.gif') no-repeat center;}
.l-icon-search{ background:url('icons/search.gif') no-repeat center;}
.l-icon-search2{ background:url('icons/search2.gif') no-repeat center;}
.l-icon-settings{ background:url('icons/settings.gif') no-repeat center;}
.l-icon-TRUE{ background:url('icons/true.gif') no-repeat center;}
.l-icon-up{ background:url('icons/up.gif') no-repeat center;}
.l-icon-down{ background:url('icons/down.gif') no-repeat center;}
.l-icon-role{ background:url('icons/role.gif') no-repeat center;}
.l-icon-config{ background:url('icons/config.gif') no-repeat center;}
.l-icon-address{ background:url('icons/address.gif') no-repeat center;}
.l-icon-process{ background:url('icons/process.gif') no-repeat center;}
.l-icon-archives{ background:url('icons/archives.gif') no-repeat center;}
.l-icon-attibutes{ background:url('icons/attibutes.gif') no-repeat center;}
.l-icon-busy{ background:url('icons/busy.gif') no-repeat center;}
.l-icon-calendar{ background:url('icons/calendar.gif') no-repeat center;}
.l-icon-comment{ background:url('icons/comment.gif') no-repeat center;}
.l-icon-plus{ background:url('icons/plus.gif') no-repeat center;}
.l-icon-communication{ background:url('icons/communication.gif') no-repeat center;}
.l-icon-customers{ background:url('icons/customers.gif') no-repeat center;}
.l-icon-database{ background:url('icons/database.gif') no-repeat center;}
.l-icon-myaccount{ background:url('icons/myaccount.gif') no-repeat center;}
.l-icon-sharingOpenCalendarFolder{background:url('icons/sharingOpenCalendarFolder.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-controlProperties{background:url('icons/controlProperties.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-convertToSmartArt{background:url('icons/convertToSmartArt.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-applicationViewList{background:url('icons/application_view_list.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-pageGear{background:url('icons/page_gear.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-acceptProposal{background:url('icons/acceptProposal.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-fileVersionHistory{background:url('icons/fileVersionHistory.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-chartResetToMatchStyle{background:url('icons/chartResetToMatchStyle.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-directRepliesTo{background:url('icons/directRepliesTo.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-groupPivotTableActiveFieldAccess{background:url('icons/groupPivotTableActiveFieldAccess.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-printListRange{background:url('icons/printListRange.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-citationInsert{background:url('icons/citationInsert.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-pauseTimer{background:url('icons/pauseTimer.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-cdAudioStartTime{background:url('icons/cdAudioStartTime.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-tableOfAuthoritiesUpdate{background:url('icons/tableOfAuthoritiesUpdate.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-controlAttachment{background:url('icons/controlAttachment.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-notepad{background:url('icons/notepad.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-webControlSubmit{background:url('icons/webControlSubmit.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-coverPageInsertGallery{background:url('icons/coverPageInsertGallery.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-tableOfContentsDialog{background:url('icons/tableOfContentsDialog.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-sourceControlRun{background:url('icons/sourceControlRun.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-replicationRecoverDesignMaster{background:url('icons/replicationRecoverDesignMaster.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-contactWebPage{background:url('icons/contactWebPage.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-omsForwardAsTextMessage{background:url('icons/omsForwardAsTextMessage.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-headerFooterRemoveHeaderWord{background:url('icons/headerFooterRemoveHeaderWord.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-reviewNextCommentWord{background:url('icons/reviewNextCommentWord.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-reviewEditComment{background:url('icons/reviewEditComment.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-indexInsert{background:url('icons/indexInsert.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-reviewShareWorkbook{background:url('icons/reviewShareWorkbook.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-newJournalEntry{background:url('icons/newJournalEntry.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-bookBrown{background:url('icons/bookBrown.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-createTableTemplatesGallery{background:url('icons/createTableTemplatesGallery.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-diagram{background:url('icons/diagram.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-importHtmlDocument{background:url('icons/importHtmlDocument.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-info{background:url('icons/info.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-showSchedulingPage{background:url('icons/showSchedulingPage.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-recordsAddFromOutlook{background:url('icons/recordsAddFromOutlook.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-blankPageInsert{background:url('icons/blankPageInsert.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-key{background:url('icons/key.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-upload{background:url('icons/upload.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-download{background:url('icons/download.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-windowClose{background:url('icons/windowClose.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-accountDisable{background:url('icons/accountDisable.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-netByteDesignStudio{background:url('icons/netByteDesignStudio.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}
.l-icon-groupMessageOptions{background:url('icons/groupMessageOptions.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}

.l-icon-export_excel{ background:url('icons/export_excel.png') no-repeat center;_behavior: url("../../images/iepngfix.htc");}