/* 覆写 layer tips */
.layui-layer-tips > .layui-layer-content{
    white-space: normal;
    word-break: break-all; /*支持IE，chrome，FF不支持*/
    word-wrap: break-word; /*支持IE，chrome，FF*/
}
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, button, input, select, textarea, th, td, span{
    margin: 0; padding: 0;
    border: 0; /* outline: none;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body, button, input, select, textarea{
    font: 14px/1.5 "\5FAE\8F6F\96C5\9ED1", arial, verdana, sans-serif;
    color: #000;
}
ul, ol{ list-style: none; }
table{ border-collapse: collapse; }
a{ color: #0e81fe; text-decoration: none; }
.nowrap{ /*禁止换行*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 省略号 */
    word-break: normal; /* 防止被父级 wordwrap 样式影响 */
    word-wrap: normal;
}
.wordwrap{ /*强制换行*/
    white-space: normal;
    word-break: break-all; /*支持IE，chrome，FF不支持*/
    word-wrap: break-word; /*支持IE，chrome，FF*/
}
.noselect{ /*禁止选中*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clearf{ overflow: hidden; }
.clearf:after{ content: " "; display: block; height: 0; clear: both }
/* fontawesome 设置行高为继承 */
.fa{ line-height: inherit; }

/* 单选、多选按钮 */
.radio-lab{ margin-left: 5px; }
.radio-lab:first-child{ margin-left: 0; }
.radio-lab > input{
    position: relative;
    top: -1px;
    margin-right: 3px;
    vertical-align: middle;
}
/* 文本框 */
.txt{
    width: 153px;
    height: 30px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #dadee9;
    padding: 0 5px;
    border-radius: 2px;
    vertical-align: middle;
}
select.txt{ padding: 4px 3px; }
.txt-min{
    height: 23px;
    line-height: 21px;
}
select.txt-min{ padding: 0 3px; }
textarea.txt,
textarea.txt-min{ height: auto; line-height: 1.5; }
textarea.txt{ padding: 3px 5px 4px; }
textarea.txt-min{ padding: 0 5px; }
.txt[disabled],
.txt.disabled{
    cursor: not-allowed;
    background-color: #ebebe4;
}
.btn{
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    display: inline-block;
    font-size: 12px;
    border: solid 1px #3a9acd;
    border-radius: 2px;
    background: #3a9acd;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.btn-min{
    height: 23px;
    line-height: 21px;
    padding: 0 10px;
}
.btn > .fa{
    width: 1.5em;
    text-align: left;
}
.btn:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-default{
    color: inherit;
    background-color: #fff;
    border-color: #d3d3d3;
}
.btn-default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-success{
    color: #fff;
    background-color: #2ea968;
    border-color: #2ea968;
}
.btn-success:hover{
    color: #fff;
    background-color: #28935a;
    border-color: #28935a;
}
.btn-warn{
    color: #fff;
    background-color: #ffce55;
    border-color: #ffce55;
}
.btn-warn:hover{
    color: #fff;
    background-color: #ffb148;
    border-color: #ffb148;
}
.btn-danger{
    color: #fff;
    background-color: #d95858;
    border-color: #d95858;
}
.btn-danger:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}
.btn-trans,
.btn-trans:hover{
    background: none;
    border-color: transparent;
    color: inherit;
    outline: none;
}
.btn[disabled],
.btn.disabled{
    background-color: #ebebe4;
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}
.iptgroup{
    display: table;
    border-collapse: collapse; /* 文本框与按钮相邻时，按钮比文本框多 1px，需改为 separate */
    width: 153px;
}
.iptgroup-main{
    display: table-cell;
    width: 100%;
}
.iptgroup-main > .txt{ width: 100%; }
.iptgroup-addon{
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.iptgroup-addon.iptgroup-text{ padding: 0 5px; }
/* txtpos */
.txtpos{
    position: relative;
    display: inline-block;
    width: 153px;
}
.txtpos > .txt{ width: 100%; }
.txtpos-in{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 30px;
    line-height: 28px;
    text-align: center;
}
.txtpos-styl > .txtpos-in{ left: 0; }
.txtpos-styl > .txt{ padding-left: 30px; }
.txtpos-styr > .txtpos-in{ right: 0; }
.txtpos-styr > .txt{ padding-right: 30px; }
.txt-min + .txtpos-in{ line-height: 21px; }
/* detailtable */
.detailtable{
    width: 98%;
    table-layout: fixed;
    white-space: normal;
    word-break: break-all; /*支持IE，chrome，FF不支持*/
    word-wrap: break-word; /*支持IE，chrome，FF*/
}
.detailtable.hasRig{ width: 100%; }
.detailtable > * > tr > th,
.detailtable > * > tr > td{
    text-align: left;
    font-weight: normal;
    color: #3c3c3c;
    padding: 5px;
}
.detailtable > * > tr > th{ text-align: right; }
.detailtable > * > tr > th.left,
.detailtable > * > tr > td.left{ text-align: left; }
.detailtable > * > tr > th.center,
.detailtable > * > tr > td.center{ text-align: center; }
.detailtable > * > tr > th.right,
.detailtable > * > tr > td.right{ text-align: right; }
.detailtable > * > tr > .detailT{ font-weight: bold; }
.detailtable > * > tr > * > .txt,
.detailtable > * > tr > * > .txtpos,
.detailtable > * > tr > * > .iptgroup{ width: 100%; }
/** 尺寸变化监听 resizelistener **/
.wi-resizelistener{ visibility: hidden; }
.wi-resizelistener,
.wi-resizelistener-in1,
.wi-resizelistener-in2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.wi-resizelistener-in1,
.wi-resizelistener-in2{ overflow: auto; }
.wi-resizelistener-in2:before{
    content: " ";
    display: block;
    width: 200%;
    height: 200%;
}
/** 验证 validate **/
.dangerI{
    border-color: #c00 !important;
    background-color: #fff1f2 !important;
}
/** 加载条 loading **/
.loadingdata{
    font-size: 1em;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/loading-bg.png");
}
.loadingdata-in{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 50px;
    margin-top: -25px;
    margin-left: -200px;
    padding-top: 20px;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background: url("../images/loading.gif") center 5px no-repeat;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
}
/** 分页 initPageBar **/
.manu{
    text-align: center;
    font-size: 12px;
    line-height: 23px;
    color: #666;
    overflow: hidden;
}
.manu-l{ float: left; }
.manu-r{ float: right; }
.manu-item{
    margin-left: 10px;
    display: inline-block;
    vertical-align: top; /* 垂直对齐， */
}
.manu-item:first-child{ margin-left: 0; }
.manu-cus{ }
.manu-page,
.manu-pageafter{ margin-left: 0; }
.manu-pagebefore .manu-lnk:first-child{ border-left-style: solid; }
.manu-lnk{
    float: left;
    border: solid 1px #ddd;
    border-left-style: none;
    height: 23px; line-height: 22px;
    padding: 0 10px;
    margin: 0;
    background-color: #fefefe;
    display: block;
}
.manu a.manu-lnk{ color: #707070; }
.manu span.manu-lnk{
    color: #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*.manu-lnk-0{ border-left-style: solid; }*/
.manu span.manu-lnk-i{ background-color: #3a9acd; color: #fff; }
/*.manu-lnk-x{ }*/
.manu-txt,
.manu-sel{
    height: 23px;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #dadee9;
    padding: 0 5px;
    border-radius: 2px;
    vertical-align: top;
}
.manu-txt{
    width: 50px;
    text-align: center;
}
.manu-sel{ padding: 0 3px; }
.manu-btn{
    display: inline-block;
    height: 23px;
    line-height: 21px;
    font-size: 12px;
    padding: 0 10px;
    border: solid 1px #3a9acd;
    background: #3a9acd;
    color: #fff;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
}
.manu-btn:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/** 树 initZTree **/
/* 为公司项目创建新皮肤（优化样式）- 不再需要引入 ztree 自带的 zTreeStyle */
/*.ztree div,.ztree ul,.ztree li,.ztree a,.ztree input,.ztree span{
    margin: 0; padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/
.ztree{
    position: relative;
    z-index: 0;
    padding: 5px;
}
.ztree li{
    overflow: hidden;
    outline: 0;
}
.ztree li:after{ content: ""; display: block; height: 0; clear: both; }
.ztree li > ul{
    padding-left: 20px; /* 与 .ztree li .switch（竖线、展开/收起） 的 width 一致 */
}
/* 父节点有兄弟节点，父节点那一排需要显示竖线 */
.ztree li > ul.line{ background: url("../images/initZTree/line_conn.gif") 2px 0 repeat-y; }
/* 节点文本部分 */
.ztree li > a{
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    border: 1px transparent solid;
    white-space: nowrap;
    cursor: pointer;
}
.ztree li > a:hover{ text-decoration: underline; }
.ztree li > a.curSelectedNode{
    background-color: #ffe6b0;
    color: #000;
    border-color: #ffb951;
    opacity: 0.8;
}
.ztree li > a.curSelectedNode_Edit{
    background-color: #ffe6b0;
    color: #000;
    border-color: #ffb951;
    opacity: 0.8;
}
.ztree li > a.tmpTargetNode_inner{
    background-color: #316ac5;
    color: #fff;
    border-color: #316ac5;
    opacity: 0.8;
}
.ztree li > a.tmpTargetNode_prev{ }
.ztree li > a.tmpTargetNode_next{ }
/* 节点文本编辑 */
.ztree li > a input.rename{
    width: 80px;
    height: 28px; /* .ztree li>a 的高度 - a 的边框 */
    line-height: 26px;
    border: 1px #7ec4cc solid;
    font-size: 12px;
    *border: 0;
    vertical-align: top;
}
.ztree li span.button{
    width: 20px;
    height: 30px;
    border: 0 none;
    background: url("../images/initZTree/zTree20.png") transparent no-repeat scroll;
    cursor: pointer;
    outline: none;
}
.ztree li > span.button{
    position: relative;
    z-index: 1; /* 为避免被 a 遮挡 */
    display: block;
    float: left;
}
.ztree a > span.button{
    display: inline-block;
    vertical-align: top;
}
.ztree li span.button.chk{ cursor: auto; }
.ztree li span.button.chk.checkbox_false_full{ background-position: 0 0; }
.ztree li span.button.chk.checkbox_false_full_focus{ background-position: 0 -30px; }
.ztree li span.button.chk.checkbox_false_part{ background-position: 0 -60px; }
.ztree li span.button.chk.checkbox_false_part_focus{ background-position: 0 -90px; }
.ztree li span.button.chk.checkbox_false_disable{ background-position: 0 -120px; }
.ztree li span.button.chk.checkbox_true_full{ background-position: -20px 0; }
.ztree li span.button.chk.checkbox_true_full_focus{ background-position: -20px -30px; }
.ztree li span.button.chk.checkbox_true_part{ background-position: -20px -60px; }
.ztree li span.button.chk.checkbox_true_part_focus{ background-position: -20px -90px; }
.ztree li span.button.chk.checkbox_true_disable{ background-position: -20px -120px; }
.ztree li span.button.chk.radio_false_full{ background-position: -40px 0; }
.ztree li span.button.chk.radio_false_full_focus{ background-position: -40px -30px; }
.ztree li span.button.chk.radio_false_part{ background-position: -40px -60px; }
.ztree li span.button.chk.radio_false_part_focus{ background-position: -40px -90px; }
.ztree li span.button.chk.radio_false_disable{ background-position: -40px -120px; }
.ztree li span.button.chk.radio_true_full{ background-position: -60px 0; }
.ztree li span.button.chk.radio_true_full_focus{ background-position: -60px -30px; }
.ztree li span.button.chk.radio_true_part{ background-position: -60px -60px; }
.ztree li span.button.chk.radio_true_part_focus{ background-position: -60px -90px; }
.ztree li span.button.chk.radio_true_disable{ background-position: -60px -120px; }
.ztree li span.button.switch{ /*width:20px; 与 .button 相同，不需要覆写*/ }
.ztree li span.button.root_open{ background-position: -120px -90px; }
.ztree li span.button.root_close{ background-position: -100px -90px; }
.ztree li span.button.roots_open{ background-position: -120px 0; }
.ztree li span.button.roots_close{ background-position: -100px 0; }
.ztree li span.button.center_open{ background-position: -120px -30px; }
.ztree li span.button.center_close{ background-position: -100px -30px; }
.ztree li span.button.bottom_open{ background-position: -120px -60px; }
.ztree li span.button.bottom_close{ background-position: -100px -60px; }
.ztree li span.button.noline_open{ background-position: -120px -120px; }
.ztree li span.button.noline_close{ background-position: -100px -120px; }
.ztree li span.button.root_docu{ background: none; }
.ztree li span.button.roots_docu{ background-position: -80px 0 }
.ztree li span.button.center_docu{ background-position: -80px -30px }
.ztree li span.button.bottom_docu{ background-position: -80px -60px }
.ztree li span.button.noline_docu{ background: none; }
.ztree li span.button.ico_open{ background-position: -140px -30px; }
.ztree li span.button.ico_close{ background-position: -140px 0; }
.ztree li span.button.ico_docu{ background-position: -140px -60px; }
.ztree li span.button.edit{ background-position: -140px -90px; }
.ztree li span.button.remove{ background-position: -140px -120px; }
.ztree li span.button.ico_loading{ background: url("../images/initZTree/loading.gif") no-repeat center; }
ul.tmpTargetzTree{
    background-color: #ffe6b0;
    opacity: 0.8;
    filter: alpha(opacity=80)
}
span.tmpzTreeMove_arrow{
    width: 20px;
    height: 30px;
    display: inline-block;
    border: 0 none;
    position: absolute;
    z-index: 1; /* 防止被 a,span.switch,span.chk 遮挡 */
    background: url("../images/initZTree/zTree20.png") no-repeat transparent -140px -150px;
    background-attachment: scroll;
}
/* 拖拽 */
ul.ztree.zTreeDragUL{
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #cfcfcf;
    border: 1px #00b83f dotted;
    opacity: 0.8;
    filter: alpha(opacity=80)
}
.zTreeMask{
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute
}
/* wiFrame 框架 */
.ztree-abs{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
}
ul.ztree.ztree-abs.zTreeDragUL{ /* 避免受到 ztree-abs 的影响 */
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}
/** 数据列表 initGrid **/
.listtableDiv{ overflow: auto; }
.listtableDiv + .manu{ margin-top: 5px; }
.listtable{
    width: 100%;
    /*border: 1px #acacac solid;*/
    border: 1px #fff solid;
    table-layout: fixed;
}
.listtable > tbody > tr{
    background: #fff;
    text-align: left;
    font-weight: normal;
    color: #666;
}
.listtable > tbody > tr:nth-child(odd){ background: #f8f8f8; }
.listtable > tbody > tr:hover{ background: #f0f0f0; }
.listtable > tbody > tr:nth-child(odd):hover{ background-color: #f0f0f0; }
/* 同上，因为ie8不支持nth-child，导致整个样式不识别，必须分开写，写成 background-color 是为了避免压缩时再次被合并 */
.listtable > tbody > tr.nodata:hover{ background: none; }
.listtable > tbody > tr.trchk, /*选中行*/
.listtable > tbody > tr.now{ background: #fbe8bd; }
.listtable > tbody > tr:nth-child(odd).trchk, /* 同上 */
.listtable > tbody > tr:nth-child(odd).now{ background-color: #fbe8bd; }
.listtable > * > tr > th,
.listtable > * > tr > td{
    /*text-align: center;*/
    border: 1px solid #dadada;
    padding: 2px 5px;
}
.listtable > thead > tr{
    text-align: center;
    font-size: 14px;
    background: #c2e6f2;
    color: #333;
    font-weight: bold;
}
.listtable > thead > tr > th{ padding: 5px; }
.listtable > * > tr > th.left,
.listtable > * > tr > td.left{ text-align: left }
.listtable > * > tr > th.right,
.listtable > * > tr > td.right{ text-align: right }
.listtable > * > tr > th.center,
.listtable > * > tr > td.center{ text-align: center }
.listtable > * > tr > td{
    /*height: 27px;*//* del by qq 2017.12.02 td 实际高度由上下 padding 和 line-height 决定 */
    line-height: 21px; /* td.height - td.border*2 - td.padding*2 */
}
.listtable-item{
    max-height: 21px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal; /* 防止被父级 wordwrap 样式影响 */
    word-wrap: normal;
}
.listtable-item > .fa{
    font-size: 18px;
    /*color:#A8A8A8;*/
    cursor: pointer;
}
.listtable > thead > tr > th .fa-sort{
    color: #fff;
    font-size: 12px;
    margin-left: .3em;
    cursor: pointer;
}
.listtable > * > tr > td.ctrltd{
    background: #e0f3f9;
    color: #666;
    text-align: center;
}
.listtable-hasDp{
    position: relative;
    padding-right: 20px;
}
.listtable-dp{
    cursor: pointer;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 20px;
    background: url("../images/arrowDown.png") no-repeat center;
}
/* TODO ?? 需优化写法，考虑其他编辑元素*/
.listtable .txt{ width: 100%; }
.listtable-chkipt{ vertical-align: middle; }
/** tab 标签 initTabsBox **/
.tab-box{ }
.tab-box-abs{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
.tab-head-box{
    position: relative;
    height: 30px;
    overflow: hidden;
}
.tab-head-box > ul{
    overflow: hidden;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
.tab-head{
    float: left;
    width: 120px;
    height: 100%;
}
.tab-head-item{
    position: relative;
    width: 100%; height: 100%;
    padding: 0 8px;
    color: #666;
    line-height: 28px;
    text-align: center;
    background: #edeef0;
    border-top: solid 2px #999;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal; /* 防止被父级 wordwrap 样式影响 */
    word-wrap: normal;
}
.tab-head-item.hasrig{ padding-right: 20px;}
ul.tab-heads-r > .tab-head{ float: right; }
.tab-head.now{ }
.now > .tab-head-item{
    color: #3a9acd;
    font-weight: bold;
    line-height: 27px;
    background: #fff;
    border-top: solid 3px #3a9acd;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
.tab-head-remove{
    position: absolute;
    top: 0; bottom: 0; right: 5px;
    cursor: pointer;
    width: 9px;
    background: url("../images/remove.png") no-repeat center;
}
.tab-head.now .tab-head-remove{ background-image: url('../images/remove_now.png'); }
.tab-head-remove:hover,
.tab-head.now .tab-head-remove:hover{ background-image: url('../images/remove_over.png'); }
.tab-add{
    position: absolute;
    top: 0; bottom: 0;
    right: 0; width: 30px;
    background: #fff url("../icons/ico_add.png") no-repeat center;
    cursor: pointer;
    text-align: center;
}
.tab-prev,
.tab-next{
    background: url("../images/tools.png") #fff no-repeat;
    border: solid 1px #dadada;
    border-bottom: none;
    position: absolute; display: none;
    top: 0; bottom: 0;
    width: 20px;
    cursor: pointer;
}
.tab-prev{
    left: 0;
    background-position: -153px 3px;
}
.tab-prev:hover{ background-position: -121px 3px; }
.tab-next{
    right: 0;
    background-position: -199px 3px;
}
.tab-withAdd > .tab-next{ right: 30px; }
.tab-next:hover{ background-position: -167px 3px; }
.tab-head-box.tab-scroll > .tab-prev,
.tab-head-box.tab-scroll > .tab-next{ display: block; }
.tab-head-box.tab-withAdd > ul{ right: 30px; }
.tab-head-box.tab-scroll > ul{ left: 20px; right: 20px; }
.tab-head-box.tab-withAdd.tab-scroll > ul{ right: 50px; }
.tab-cont-box{
    border: 1px solid #dadada;
    background: #fff;
}
.tab-box-abs > .tab-cont-box{
    position: absolute;
    top: 30px; bottom: 0;
    left: 0; right: 0;
}
.tab-cont{ display: none; }
.tab-box-abs > .tab-cont-box > .tab-cont{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
}
.tab-cont.now{ display: block; }
/* iframe 默认为 inline 因为 baseline 的作用会使其下方出现留白 */
.tab-cont > iframe{ display: block; }
/* 右键菜单 */
.context{
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: 2px 2px 10px 0 rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 2px 2px 10px 0 rgba(128, 128, 128, 0.3);
    box-shadow: 2px 2px 10px 0 rgba(128, 128, 128, 0.3);
}
.context ul{ }
.context li{
    width: 120px;
    cursor: pointer;
}
.context-item{
    display: block;
    height: 25px;
    line-height: 25px;
    margin: auto 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.context > ul > li:hover,
.context > ul > li:active{ /* 悬停菜单项 */
    color: #fff;
    background: #04a6d7;
}
/** 下拉框 dropdown **/
.overlay{
    position: fixed;
    top: 0; height: 0;
    left: 0; width: 0;
    background: url('../images/overlay.gif') repeat;
}
.overlay.overlay-modal{ bottom: 0; height: auto; right: 0; width: auto; }
.dropdown-box{ position: absolute; }
.dropdown{
    background: #fff;
    border: 1px solid #c5d9e8;
}
/** 数字文本框 initSelNum **/
.numbox{
    position: relative;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.numbox-txt{
    width: 100%;
    height: 100%;
    padding: 0 22px 0 5px;
    text-align: center;
    line-height: inherit;
}
.numbox-wrap{
    display: block;
    width: 17px;
    height: 100%;
    border-left: 1px solid #dadee9;
    position: absolute;
    right: 0;
    top: 0;
}
.numbox-up,
.numbox-down{
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
}
.numbox-up{
    top: 0;
    right: 0;
    background: url("../images/arrowUp.png") center no-repeat;
}
.numbox-down{
    bottom: 0;
    right: 0;
    background: url("../images/arrowDown.png") center no-repeat;
}
.numbox-up:active,
.numbox-down:active{ background-color: #b3bcc5; }
.numbox.disabled{ cursor: not-allowed; }
.numbox.disabled .numbox-txt{ background-color: #ebebe4; }
.numbox.disabled .numbox-up:active,
.numbox.disabled .numbox-down:active{ background: none; }
/** 复选下拉框 initDropSel **/
.dropSel{ min-width: 205px; }
.dropSel.dropList{ min-width: 120px; }
.dropSel-box{ overflow: auto; }
.dropSel-ul{
    line-height: 2;
    padding: 0 3px;
}
.dropSel-ul > li{
    min-width: 90px;
    float: left;
    padding: 2px;
}
.dropSel-label{ }
.dropSel-label:first-child{ margin-left: 0; }
.dropSel-label > input{
    position: relative;
    top: -1px;
    margin-right: 3px;
    vertical-align: middle;
}
.dropSel-filter{
    width: 100%;
    height: 30px;
    line-height: 29px;
    background: #fff no-repeat center right url('../images/search.gif');
    border-bottom: 1px solid #dadee9;
    padding: 0 25px 0 5px;
    border-radius: 2px;
    vertical-align: middle;
}
.dropSel-tool{
    height: 30px;
    padding: 5px;
    background: #f5f5f5;
}
.dropSel-tool:after{ content: '' }
.dropSel-tool > button{ float: right; padding: 0 5px; }
.dropSel-btn{
    display: inline-block;
    height: 23px;
    line-height: 21px;
    font-size: 12px;
    padding: 0 10px;
    border: solid 1px #3a9acd;
    background: #3a9acd;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.dropSel-btn:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.dropSel-btn-success{
    color: #fff;
    background-color: #a0d468;
    border-color: #a0d468;
}
.dropSel-btn-success:hover{
    color: #fff;
    background-color: #7bd43b;
    border-color: #7bd43b;
}
.dropSel-btn[disabled],
.dropSel-btn.disabled{
    background-color: #ebebe4;
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}
.dropSel-high{ color: #005490; }
/** 单选下拉框 initDropList **/
ul.dplist-box{ font-size: 12px; }
.dplist-box li{
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    display: none;
    cursor: pointer;
}
.dplist-box li.now{ display: block; /*显示项*/ }
.dplist-box li:hover{ background: #04a6d7; color: #fff; /* 悬停菜单项 */ }
.dplist-box li.active,
.dplist-box li:active{ /* 高亮项 */
    color: #fff;
    background: #005491;
}
/** 日期范围 initDateLine **/
.dateline-l,
.dateline-r,
.date-trigger{ background: url("../images/dateline.gif") #fff no-repeat; }
.dateline{
    display: inline-block;
    vertical-align: bottom; /* TODO why not middle?? */
    height: 30px;
    position: relative;
    overflow: visible;
    font-size: 12px;
}
.date-trigger{
    background-position: right -89px;
    font-size: 12px;
}
.date-trigger.now{
    color: white;
    background-position: right -209px;
    background-color: #3278dc;
}
.dateline-l{
    float: left;
    background-position: center -9px;
    width: 24px; height: 100%;
    border: 1px solid #dadee9;
    cursor: pointer;
}
.dateline-r{
    float: left;
    background-position: center -49px;
    width: 24px; height: 100%;
    border: 1px solid #dadee9;
    cursor: pointer;
}
.dateline > .dateline-l{ background-position: center -5px; }
.dateline > .dateline-r{ background-position: center -45px; }
.dateline-c{
    float: left;
    width: 229px;
    padding-left: 8px;
    height: 100%; line-height: 28px;
    border-top: 1px solid #dadee9;
    border-bottom: 1px solid #dadee9;
    text-align: left;
    background-position: right -85px;
}
.dateline-c.now{ background-position: right -205px; }
.dateline-c > span{
    float: left;
    text-align: center;
    width: 102px;
}
/* dateline-min */
.dateline-min{ height: 23px; }
.dateline-min > .dateline-l{ background-position: center -9px; }
.dateline-min > .dateline-r{ background-position: center -49px; }
.dateline-min > .dateline-c{ line-height: 21px; background-position: right -89px; }
.dateline-min > .dateline-c.now{ line-height: 21px; background-position: right -209px; }
/* dateline-layer */
.dateline-layer{
    position: absolute;
    z-index: 999;
    display: none;
}
.dateline-layer.now{ display: block; }
.date-body{
    margin: -1px auto 0;
    position: relative;
    border: 1px solid #dadee9;
    background: #fff;
    width: 327px;
}
.date-select{
    width: 218px;
    margin: 10px auto 0;
    cursor: pointer;
}
.date-option{
    float: left;
    width: 109px;
    border: 1px solid #dadee9;
    border-left: none;
    text-align: center;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
}
.date-option:first-child{ border-left: 1px solid #dadee9; }
.date-option.now{ background: #f0f2f5; }
.date-container{
    width: 100%;
    padding: 12px 0;
    overflow: hidden;
}
.date-container[data-type="month"]{
    padding-bottom: 10px;
    width: 222px;
    margin: 0 auto;
}
.date-line{
    padding: 0 5px;
    line-height: 23px;
}
.date-line > *{ float: left; }
.date-line > .date-trigger{
    width: 93px;
    height: 23px;
    line-height: 21px;
    border: solid 1px #dadee9;
    cursor: pointer;
    margin: 0 5px; padding: 0 5px;
}
.date-btn{
    float: right;
    width: 72px;
    height: 23px; line-height: 21px;
    text-align: center;
    border: 1px solid #dadee9;
    cursor: pointer;
    margin: 10px 6px 0 0;
}
.date-custom-trigger{ text-align: center; }
.date-custom-select{
    text-align: left;
    position: relative;
    border: 1px solid #ccc;
    background: #fff;
    min-width: 250px;
    line-height: 24px;
}
.date-custom-select li{ padding-left: 10px; }
.date-custom-select li:hover{
    background: #3278dc;
    color: #fff;
}
.date-month-head{ margin-left: 41px; }
.date-month-head > .dateline-l,
.date-month-head > .dateline-r{
    border: solid 1px #dadee9;
    height: 23px;
}
.date-month-body{ padding: 10px 8px 0; }
.date-month-body li{
    float: left;
    border: 1px solid #dadee9;
    width: 35px; height: 28px;
    line-height: 26px;
    text-align: center; cursor: pointer;
    font-size: 12px; margin-top: -1px; margin-left: -1px;
}
.date-month-body li:hover,
.date-month-body li.currentMonth{ background: #3278dc; color: #fff; }
.date-month-body li.cannotSelect{ background: #f0f0f0; color: #ccc; cursor: not-allowed; }
.date-body > [data-type]{ display: none; }
.date-body > [data-type].now{ display: block; }
/** 滚动条 initScrollbar **/
.wi-scrollbar{
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
    width: 3px;
    background: #005490;
}
.wi-scrollbar.active{ display: block; }
.wi-scrollbar-slider{
    position: absolute;
    right: 0;
    width: 100%;
    background: #58b5e1;
}
/** 轮播 initCarousel **/
.wi-carousel{ }
.wi-carousel-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wi-carousel-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wi-carousel-ctrl{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75px;
    cursor: pointer;
    background: repeat-y;
}
.wi-carousel-ctrl-prev{
    background-image: url("../images/initCarousel/ctrl-prev.png");
    left: 0;
}
.wi-carousel-ctrl-prev:hover{ background-image: url("../images/initCarousel/ctrl-prev-over.png"); }
.wi-carousel-ctrl-next{
    background-image: url("../images/initCarousel/ctrl-next.png");
    right: 0;
}
.wi-carousel-ctrl-next:hover{ background-image: url("../images/initCarousel/ctrl-next-over.png"); }
.wi-carousel-arrow{
    position: absolute;
    top: 50%;
    width: 22px;
    height: 31px;
    margin-top: -15.5px;
    background: no-repeat center;
}
.wi-carousel-ctrl-prev > .wi-carousel-arrow{
    left: 20px;
    background-image: url("../images/initCarousel/arrow-prev.png");
}
.wi-carousel-ctrl-prev:hover > .wi-carousel-arrow{ background-image: url("../images/initCarousel/arrow-prev-over.png"); }
.wi-carousel-ctrl-next > .wi-carousel-arrow{
    right: 20px;
    background-image: url("../images/initCarousel/arrow-next.png");
}
.wi-carousel-ctrl-next:hover > .wi-carousel-arrow{ background-image: url("../images/initCarousel/arrow-next-over.png"); }
.wi-carousel-nav{
    width: 100%;
    text-align: center;
    height: 7px;
    z-index: 2;
    position: absolute;
    bottom: 10px;
}
.wi-carousel-nav-item{
    display: inline-block;
    margin: 0 8px;
    width: 44px;
    height: 7px;
    vertical-align: top;
    background: url("../images/initCarousel/nav.png") repeat;
    cursor: pointer;
}
.wi-carousel-nav-item.active{ background-image: url("../images/initCarousel/nav-over.png"); }